*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'geist';
    src: url(../fonts/GeistMonoVF.woff2);
}

@font-face {
    font-family: 'ppedito-italic';
    src: url(../fonts/PPEditorialOld-UltralightItalic.woff2);
}

@font-face {
    font-family: 'ppedito-regular';
    src: url(../fonts/PPEditorialOld-Ultralight.woff2);
}

:root{
    --bone: #e1e9e5;
    --black: #0D0D0D;
    --geist: 'geist', sans-serif;
    --editoi: 'ppedito-italic', sans-serif;
    --edito: 'ppedito-regular', sans-serif;
}

html {
    font-size: 100%;
}

header{
    background-color: var(--bone);
}

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

body {
    --text-size-80: 0.694rem;
    --text-size-90: 0.833rem;
    --text-size-100: 1rem;
    --text-size-200: 1.2rem;
    --text-size-300: 1.44rem;
    --text-size-400: 1.728rem;
    --text-size-500: 2.074rem;
    --text-size-600: 2.488rem;
    --text-size-700: 2.986rem;
    font-family: var(--geist);
    font-weight: 200;
    line-height: 1.6;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 2.25rem;
    margin-bottom: 1rem;
    font-weight: 100;
    line-height: 1.15;
    letter-spacing: -0.022em;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

small {
    font-size: var(--text-size-90);
}

h6, .h6 {
    font-size: var(--text-size-200);
}

h5, .h5 {
    font-size: var(--text-size-300);
}

h4, .h4 {
    font-size: var(--text-size-400);
}

h3, .h3 {
    font-size: var(--text-size-500);
}

h2, .h2 {
    font-size: var(--text-size-600);
}

h1, .h1 {
    font-size: var(--text-size-700);
}

.text-size-80 {
    font-size: var(--text-size-80);
}

.text-size-90 {
    font-size: var(--text-size-90);
}

.text-size-100 {
    font-size: var(--text-size-100);
}

.text-size-200 {
    font-size: var(--text-size-200);
}

.text-size-300 {
    font-size: var(--text-size-300);
}

.text-size-400 {
    font-size: var(--text-size-400);
}

.text-size-500 {
    font-size: var(--text-size-500);
}

.text-size-600 {
    font-size: var(--text-size-600);
}

.text-size-700 {
    font-size: var(--text-size-700);
}

@media screen and (min-width: 700px) {
    html {
      font-size: 100%;
    }
    body {
    --text-size-80: 0.64rem;
    --text-size-90: 0.8rem;
    --text-size-100: 1rem;
    --text-size-200: 1.25rem;
    --text-size-300: 1.563rem;
    --text-size-400: 1.953rem;
    --text-size-500: 2.441rem;
    --text-size-600: 3.052rem;
    --text-size-700: 3.815rem;
    }
}